# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.log
*.vs/
.vscode/
TestResults/
project.lock.json
*.DotSettings.user

# Docker
**/docker-compose.override.yml

# SQL Server
*.mdf
*.ldf
*.ndf

# OS
.DS_Store
Thumbs.db
